body{
    background-color: #fff6d8;
    background-image: url(cabecalhos_back.png);
    background-repeat: repeat-y;
}
*{ 
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
}
p::first-line{
    font-weight: 300;
    font-size: 2;
    text-transform:inherit
}
h1{
    color: #906718;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 150px  0;
}
h2{
    color: #906718; 
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 150px  0;
}
h3{
    color: white;
    background-color: #906718;
    padding: 7px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 150px;
}
hr{
    border: dashed;
    color: #d48b00;
    margin-left: 150px;
    
}

